{{- with .Tags -}}
---
tags:
{{- range . }}
- {{ . }}
{{- end }}
---
{{- end }}
# {{ .Title }}

## Install

### In cluster

```bash
kubectl apply -f https://raw.githubusercontent.com/kyverno/kyverno-json/main/{{ .Path }}
```

### Download locally

```bash
curl -O https://raw.githubusercontent.com/kyverno/kyverno-json/main/{{ .Path }}
```

## Description

{{ .Description }}

## Manifest

[Original policy](https://github.com/kyverno/kyverno-json/{{ .Path }})

```yaml
{{ .Manifest }}
```
