# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: ArtifactHub Lint

permissions: {}

on:
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ah-lint:
    runs-on: ubuntu-latest
    container:
      image: artifacthub/ah
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Run ah lint
        working-directory: ./charts/
        run: |
          set -e
          ah lint
